$breakpoint-laptop: 1280px;
$breakpoint-desktop: 1920px;

h1,
h2 {
  color: #e5d7c0;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

h3 {
  color: #e5d7c0;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 1.1rem;
  margin-top: 1.5rem;
}

p {
  color: #e5d7c0;
  font-family: 'Poppins', sans-serif;
}

.demo {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
}

.demo__title {
  margin-top: 4.5rem;
  font-weight: 500;
}

.demo__img {
  margin: 3rem 0rem;
  max-width: 300px;
  box-shadow: 3px 10px 90px 40px rgba(255, 255, 255, 0.12);
  border-radius: 15px;
}

.demo__gif {
  margin-top: 1rem;
  max-width: 600px;
  box-shadow: 3px 10px 90px 30px rgba(255, 255, 255, 0.12);
  border-radius: 15px;
}

.gif__container {
  margin: 4rem 0rem;
}

.facts {
  margin-top: 1rem;
}

.fact__container {
  margin: 4rem 0rem;
  svg {
    margin-top: 1.2rem;
  }
}

@media (min-width: $breakpoint-laptop) {
  .cta__title {
    font-size: 1.6rem;
    font-weight: 600;
    padding-top: 1.2rem;
  }

  .hero__button {
    font-weight: 600;
    margin-bottom: 4rem;
    font-size: 1.2rem;
  }

  .demo__title {
    margin-top: 6rem;
  }

  .demo__img {
    max-width: 430px;
  }

  h3 {
    font-size: 1.7rem;
    margin-bottom: 2.5rem;
    font-weight: 600;
  }

  p {
    font-size: 1.4rem;
    font-weight: 300;
  }

  .fact__container {
    margin: 6rem 0rem;
    svg {
      width: 80px;
      height: 80px;
    }
  }
}
