$breakpoint-tablet: 768px;
$breakpoint-laptop: 1280px;
$breakpoint-desktop: 1920px;

.about__title {
  color: #e5d7c0;
  font-weight: 600;
}

.text--secondary {
  color: #625779;
}

.about__icons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;

  svg {
    padding: 0px 4px;
  }
}

.about__text {
  color: #f0e4d1;
  margin-top: 2rem;
  font-weight: 500;

  span {
    color: #2e769f;
  }
}

@media (min-width: $breakpoint-tablet) {
  .about {
    margin-top: 4rem;
  }
}

@media (min-width: $breakpoint-laptop) {
  .about__title {
    font-size: 2.2rem;
  }

  .about__icons {
    svg {
      width: 65px;
    }
  }

  .about__text {
    font-size: 1.3rem;
    font-weight: 400;
    max-width: 1050px;
    margin: 1.5rem auto;
    padding-top: 10px;
  }
}

@media (min-width: $breakpoint-desktop) {
  .about {
    margin-top: 7rem;
  }

  .about__title {
    font-size: 2.4rem;
  }

  .about__text {
    font-size: 1.6rem;
    padding-top: 30px;
  }

  .about__icons {
    padding-top: 1.5rem;

    svg {
      width: 70px;
    }

    svg.about__icons--small {
      height: 35px;
    }

    svg.about__icons--medium {
      height: 70px;
      width: 80px;
    }
  }
}
