.footer {
  color: #f0e4d1;
  font-weight: 400;
  margin: 2.5rem 0rem;

  span {
    font-weight: 600;
  }

  &__social {
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      padding: 0rem 4px;
    }
  }
}
