$breakpoint-tablet: 768px;
$breakpoint-laptop: 1366px;
$breakpoint-desktop: 1920px;

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-top: 4rem;
  font-family: 'Poppins', sans-serif;
}

.hero__title {
  color: #e5d7c0;
  font-weight: 600;
}

.hero__button {
  border-radius: 20px;
  background-color: #e5d7c0;
  color: #3f3d56;
  padding: 8px 22px;
  margin-top: 28px;
  font-weight: 600;
  font-size: 1.1rem;
  border: none;

  &:focus {
    background-color: #c8b597;
    color: #3f3d56;
    box-shadow: none;
  }

  &:active {
    background-color: #c8b597;
    color: #3f3d56;
  }

  &:visited {
    background-color: #e5d7c0;
    color: #3f3d56;
  }
}

.hero__button:hover {
  background-color: #c8b597;
  color: #3a3759;
  border: none;
}

.hero__image {
  margin-top: 0.4rem;
  display: flex;
  justify-content: center;
}

.hero__img {
  max-width: 350px;
  max-height: 350px;
}

@media (min-width: $breakpoint-tablet) {
  .hero {
    margin-top: 6rem;
  }

  .hero__image {
    margin-top: 4rem;
  }

  .hero__img {
    max-width: 560px;
  }
}
