$light-dark-color: #1c1b1b;

a {
  text-decoration: none;
}

.navbar--style {
  background-color: $light-dark-color;
  text-decoration: none;
  padding: 15px;
}

.logo--text {
  font-family: 'Kanit', sans-serif;
}

.nav--links {
  font-family: 'Raleway', sans-serif;
}

@media screen and (max-width: 576px) {
  .nav--links {
    display: none;
  }
}
