.performance__input {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 2rem;
}

.table__styling {
  border-radius: 5rem;
}

.icon__styling {
  margin-right: 2px;
  padding: 2rem;
}
