$breakpoint-tablet: 768px;
$breakpoint-laptop: 1280px;
$breakpoint-desktop: 1920px;

.footer {
  color: #f0e4d1;
  font-weight: 400;
  margin: 2.5rem 0rem;

  span {
    font-weight: 600;
  }

  &__social {
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      padding: 0rem 4px;
    }
  }
}

a {
  text-decoration: none;
  color: #f0e4d1;

  &:visited {
    color: #f0e4d1;
  }
}

a:hover {
  color: #c8b597;
}

@media (min-width: $breakpoint-laptop) {
  .footer {
    margin-top: 1.8rem;
    p {
      font-size: 1.2rem;
    }
  }
}

@media (min-width: $breakpoint-desktop) {
  .footer {
    margin: 3rem 0rem;
    font-size: 1.2rem;
  }

  .footer__social {
    svg {
      height: 35px;
      width: 35px;
      margin: 0rem 0.1rem;
    }
  }
}
